#navigation {
  width: 67%;
  height: 90px;
  border-radius: 60px;
  border-style: none;
  outline: none;
  font-family: "Inter", serif;
  font-size: 15px;
  padding: 40px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 40px;
}

#navigation::placeholder {
  font-family: "Inter", serif;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
  color: #a6b0c3;
}
